In [1]:
import numpy as np 
import pandas as pd

In [2]:
# file paths
call_1 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Apr-2019_TO_30-Jun-2019.csv"
call_2 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Jul-2019_TO_30-Sep-2019.csv"
call_3 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Oct-2019_TO_31-Dec-2019.csv"
call_4 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Jan-2020_TO_31-Mar-2020.csv"

call_5 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Apr-2020_TO_30-Jun-2020.csv"
call_6 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Jul-2020_TO_30-Sep-2020.csv"
call_7 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Oct-2020_TO_31-Dec-2020.csv"
call_8 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Jan-2021_TO_31-Mar-2021.csv"

call_9 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Apr-2021_TO_30-Jun-2021.csv"
call_10 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Jul-2021_TO_30-Sep-2021.csv"
call_11 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Oct-2021_TO_31-Dec-2021.csv"
call_12 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Jan-2022_TO_31-Mar-2022.csv"

call_13 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Apr-2022_TO_30-Jun-2022.csv"
call_14 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Jul-2022_TO_30-Sep-2022.csv"
call_15 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Oct-2022_TO_31-Dec-2022.csv"
call_16 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Jan-2023_TO_31-Mar-2023.csv"

call_17 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Apr-2023_TO_30-Jun-2023.csv"
call_18 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Jul-2023_TO_30-Sep-2023.csv"
call_19 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Oct-2023_TO_31-Dec-2023.csv"
call_20 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Jan-2024_TO_31-Mar-2024.csv"

In [3]:
# file paths
put_1 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Apr-2019_TO_30-Jun-2019.csv"
put_2 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Jul-2019_TO_30-Sep-2019.csv"
put_3 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Oct-2019_TO_31-Dec-2019.csv"
put_4 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Jan-2020_TO_31-Mar-2020.csv"

put_5 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Apr-2020_TO_30-Jun-2020.csv"
put_6 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Jul-2020_TO_30-Sep-2020.csv"
put_7 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Oct-2020_TO_31-Dec-2020.csv"
put_8 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Jan-2021_TO_31-Mar-2021.csv"

put_9 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Apr-2021_TO_30-Jun-2021.csv"
put_10 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Jul-2021_TO_30-Sep-2021.csv"
put_11 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Oct-2021_TO_31-Dec-2021.csv"
put_12 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Jan-2022_TO_31-Mar-2022.csv"

put_13 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Apr-2022_TO_30-Jun-2022.csv"
put_14 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Jul-2022_TO_30-Sep-2022.csv"
put_15 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Oct-2022_TO_31-Dec-2022.csv"
put_16 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Jan-2023_TO_31-Mar-2023.csv"

put_17 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Apr-2023_TO_30-Jun-2023.csv"
put_18 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Jul-2023_TO_30-Sep-2023.csv"
put_19 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Oct-2023_TO_31-Dec-2023.csv"
put_20 = "/kaggle/input/option-dataset/OPTIDX_NIFTY_PE_01-Jan-2024_TO_31-Mar-2024.csv"

In [4]:
div_yield_path = "/kaggle/input/option-dataset/NIFTY 50_Historical_PE_PB_DIV_Data_01042019to31032024.csv"
divident_df = pd.read_csv(div_yield_path)

In [5]:
divident_df= divident_df.drop(['Index Name'],axis=1)
divident_df['Date'] = pd.to_datetime(divident_df['Date'],format='%d-%b-%y')
divident_df = divident_df.rename(columns={'Div Yield %': 'Div_yield'})

In [6]:
divident_df

           Date  Div_yield
0    2024-03-28       1.20
1    2024-03-27       1.21
2    2024-03-26       1.22
3    2024-03-22       1.21
4    2024-03-21       1.22
...         ...        ...
1234 2019-04-05       1.13
1235 2019-04-04       1.14
1236 2019-04-03       1.13
1237 2019-04-02       1.12
1238 2019-04-01       1.13

[1239 rows x 2 columns]

In [7]:
risk_free_path = "/kaggle/input/option-dataset/HBS Table No. 180 _ Yield of SGL Transactions in Government Dated Securiites for Various Maturities.xlsx"
risk_f = pd.read_excel(risk_free_path)

/opt/conda/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [8]:
risk_f = risk_f.drop(['Unnamed: 0'], axis=1)
risk_f = risk_f.drop([0,1,2,3,5])
risk_f.columns = risk_f.iloc[0]
risk_f = risk_f.drop(risk_f.index[0])
risk_f.set_index(risk_f.columns[0], inplace=True)
risk_f.columns = [4,5,6,7,8,9,10,11,12,1,2,3]
risk_f.columns.name = 'Term to maturity (in years)'
risk_f.index.name = None

In [9]:
risk_f

Term to maturity (in years),4,5,6,7,8,9,10,11,12,1,2,3
2023-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.988946,6.9514,6.853243,6.885552,6.987909,7.060395,7.114156,7.125975,7.085487,7.088609,7.130277,7.144065
2,6.903496,6.891743,6.982213,7.075772,7.130448,7.196422,7.340045,7.25203,7.078866,7.001627,7.031309,7.108949
3,6.960716,6.884893,7.032764,7.131151,7.165493,7.260202,7.346233,7.260711,7.081939,7.027758,7.060646,7.046107
4,6.988439,6.920686,7.072736,7.159675,7.169429,7.238736,7.344238,7.250521,7.079101,7.02805,7.071737,7.050941
...,...,...,...,...,...,...,...,...,...,...,...,...
8,14.1253,13.8821,13.9361,13.6809,13.6958,13.9081,13.5921,13.6486,13.5284,13.406,13.3333,13.4423
9,14.0049,13.9186,13.9253,13.7044,13.7966,13.6622,13.5391,13.6169,13.6406,13.533,13.3863,13.4832
10,-,13.9551,-,-,13.8973,-,13.671,13.6601,13.7528,13.66,13.4275,13.4328
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Source : Reserve Bank of India.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [480]:
df = pd.read_csv(put_1)

/tmp/ipykernel_33/986208574.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(put_1)

In [481]:
df.columns

Index(['Symbol  ', 'Date  ', 'Expiry  ', 'Option type  ', 'Strike Price  ',
       'Open  ', 'High  ', 'Low  ', 'Close  ', 'LTP  ', 'Settle Price  ',
       'No. of contracts  ', 'Turnover * in  â‚¹ Lakhs',
       'Premium Turnover ** in   â‚¹ Lakhs', 'Open Int  ', 'Change in OI  ',
       'Underlying Value  '],
      dtype='object')

In [482]:
df.drop(['Symbol  ','Open  ', 'High  ', 'Low  ','Turnover * in  â‚¹ Lakhs',
       'Premium Turnover ** in   â‚¹ Lakhs','No. of contracts  '],axis=1, inplace =True)

In [483]:
df = df.rename(columns=lambda x: x.strip())
df = df.dropna(subset=['Date','Expiry','Strike Price','Close','Underlying Value'])
df = df[(df['Underlying Value'] != '-') & 
        (df['Date'] != '-') & 
        (df['Expiry'] != '-') & 
        (df['Strike Price'] != '-') & 
        (df['Close'] != '-')]

In [484]:
# time_to_maturity
df['Date'] = pd.to_datetime(df['Date'])
df['Expiry'] = pd.to_datetime(df['Expiry'])

df['time_to_maturity_days'] = (df['Expiry'] - df['Date']).dt.days

In [485]:
# option type
encoding_map = {'CE': 1, 'PE': 0}
df['Option type'] = df['Option type'].map(encoding_map)
df.rename(columns = {'Option type' : 'Option_type'}, inplace = True)

In [486]:
df['time_to_maturity_years'] = df['time_to_maturity_days'] / 365

In [487]:
# Function to interpolate the risk-free rate
def interpolate_risk_free_rate(row, risk_f_df,z):
    # Find the closest lower and upper years
    lower_year = int(np.floor(row['time_to_maturity_years']))
    upper_year = int(np.ceil(row['time_to_maturity_years']))

    # If the maturity is less than 1 year, use the 1-year rate
    if lower_year == 0:
        return risk_f_df.loc[1, row['Date'].month].iloc[z]
    
    # If exact year matches, return the rate
    if lower_year == row['time_to_maturity_years']:
        return risk_f_df.loc[lower_year, row['Date'].month].iloc[z]
    
    
    # Interpolate between the two years
    lower_rate = risk_f_df.loc[lower_year, row['Date'].month].iloc[z]
    upper_rate = risk_f_df.loc[upper_year, row['Date'].month].iloc[z]
    
    # If either rate is NaN, we cannot interpolate; return NaN
    if pd.isna(lower_rate) or pd.isna(upper_rate):
        return np.nan

    # Calculate the weight for interpolation based on the distance to the lower and upper years
    weight = (row['time_to_maturity_years'] - lower_year) / (upper_year - lower_year)

    # Return the interpolated rate
    return (1 - weight) * lower_rate + weight * upper_rate

In [488]:
# Apply the function to each row in 'df' to create the new column
df['riskfree_rates'] = df.apply(lambda row: interpolate_risk_free_rate(row, risk_f,4), axis=1)

In [489]:
#divident yield
df = pd.merge(df, divident_df, on='Date', how='left')

In [490]:
df

,Date,Expiry,Option_type,Strike Price,Close,LTP,Settle Price,Open Int,Change in OI,Underlying Value,time_to_maturity_days,time_to_maturity_years,riskfree_rates,Div_yield
0,2019-04-02,2019-04-04,0,10000.0,0.50,0.50,0.50,52650.00,675.00,11713.20,2,0.005479,6.642900,1.12
1,2019-04-02,2019-04-04,0,10050.0,10.45,-,-,-,-,11713.20,2,0.005479,6.642900,1.12
2,2019-04-02,2019-04-04,0,10100.0,12.95,-,-,-,-,11713.20,2,0.005479,6.642900,1.12
3,2019-04-02,2019-04-04,0,10150.0,15.95,-,-,-,-,11713.20,2,0.005479,6.642900,1.12
4,2019-04-02,2019-04-04,0,10200.0,19.55,-,-,-,-,11713.20,2,0.005479,6.642900,1.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46459,2019-06-28,2024-06-27,0,9500.0,77.40,-,71.85,-,-,11788.85,1826,5.002740,6.875563,1.24
46460,2019-06-28,2024-06-27,0,9600.0,83.35,-,77.55,-,-,11788.85,1826,5.002740,6.875563,1.24
46461,2019-06-28,2024-06-27,0,9700.0,89.65,-,83.55,-,-,11788.85,1826,5.002740,6.875563,1.24
46462,2019-06-28,2024-06-27,0,9800.0,96.25,-,89.90,-,-,11788.85,1826,5.002740,6.875563,1.24
46463,2019-06-28,2024-06-27,0,9900.0,103.20,-,96.55,-,-,11788.85,1826,5.002740,6.875563,1.24

In [491]:
df = df.reset_index(drop=True)
df = df.replace('-', 0)

put_op_1 = df
put_op_1

,Date,Expiry,Option_type,Strike Price,Close,LTP,Settle Price,Open Int,Change in OI,Underlying Value,time_to_maturity_days,time_to_maturity_years,riskfree_rates,Div_yield
0,2019-04-02,2019-04-04,0,10000.0,0.50,0.50,0.50,52650.00,675.00,11713.20,2,0.005479,6.642900,1.12
1,2019-04-02,2019-04-04,0,10050.0,10.45,0,0,0,0,11713.20,2,0.005479,6.642900,1.12
2,2019-04-02,2019-04-04,0,10100.0,12.95,0,0,0,0,11713.20,2,0.005479,6.642900,1.12
3,2019-04-02,2019-04-04,0,10150.0,15.95,0,0,0,0,11713.20,2,0.005479,6.642900,1.12
4,2019-04-02,2019-04-04,0,10200.0,19.55,0,0,0,0,11713.20,2,0.005479,6.642900,1.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46459,2019-06-28,2024-06-27,0,9500.0,77.40,0,71.85,0,0,11788.85,1826,5.002740,6.875563,1.24
46460,2019-06-28,2024-06-27,0,9600.0,83.35,0,77.55,0,0,11788.85,1826,5.002740,6.875563,1.24
46461,2019-06-28,2024-06-27,0,9700.0,89.65,0,83.55,0,0,11788.85,1826,5.002740,6.875563,1.24
46462,2019-06-28,2024-06-27,0,9800.0,96.25,0,89.90,0,0,11788.85,1826,5.002740,6.875563,1.24
46463,2019-06-28,2024-06-27,0,9900.0,103.20,0,96.55,0,0,11788.85,1826,5.002740,6.875563,1.24

In [6]:
call_1

'/kaggle/input/option-dataset/OPTIDX_NIFTY_CE_01-Apr-2019_TO_30-Jun-2019.csv'

In [49]:
put_op_20 = pd.read_csv(put_20)

/tmp/ipykernel_33/1522516640.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  put_op_20 = pd.read_csv(put_20)

In [9]:
call_op_1

,Symbol,Date,Expiry,Option type,Strike Price,Open,High,Low,Close,LTP,Settle Price,No. of contracts,Turnover * in â‚¹ Lakhs,Premium Turnover ** in â‚¹ Lakhs,Open Int,Change in OI,Underlying Value
0,NIFTY,01-Apr-2019,04-Apr-2019,CE,10000.0,1720.00,1720.00,1643.85,1676.35,1648.90,1676.35,5.00,43.79,6.29,375.00,375.00,-
1,NIFTY,01-Apr-2019,04-Apr-2019,CE,10050.0,-,-,-,1011.90,-,1625.50,-,-,-,-,-,-
2,NIFTY,01-Apr-2019,04-Apr-2019,CE,10100.0,-,-,-,964.95,-,1575.50,-,-,-,-,-,-
3,NIFTY,01-Apr-2019,04-Apr-2019,CE,10150.0,-,-,-,918.50,-,1525.55,-,-,-,-,-,-
4,NIFTY,01-Apr-2019,04-Apr-2019,CE,10200.0,-,-,-,872.60,-,1475.55,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99359,NIFTY,28-Jun-2019,27-Jun-2024,CE,9500.0,-,-,-,5146.10,-,5086.6,-,-,-,-,-,11788.85
99360,NIFTY,28-Jun-2019,27-Jun-2024,CE,9600.0,-,-,-,5080.80,-,5021.0,-,-,-,-,-,11788.85
99361,NIFTY,28-Jun-2019,27-Jun-2024,CE,9700.0,-,-,-,5015.75,-,4955.7,-,-,-,-,-,11788.85
99362,NIFTY,28-Jun-2019,27-Jun-2024,CE,9800.0,-,-,-,4951.05,-,4890.7,-,-,-,-,-,11788.85
99363,NIFTY,28-Jun-2019,27-Jun-2024,CE,9900.0,-,-,-,4886.75,-,4826.1,-,-,-,-,-,11788.85

In [50]:
option_data = pd.concat([call_op_1,call_op_2,call_op_3,call_op_4,call_op_5,call_op_6,call_op_7,call_op_8,call_op_9,call_op_10,call_op_11,call_op_12,call_op_13,call_op_14,call_op_15,call_op_16,call_op_17,call_op_18,call_op_19,call_op_20, put_op_1,put_op_2,put_op_3,put_op_4,put_op_5,put_op_6,put_op_7,put_op_8,put_op_9,put_op_10,put_op_11,put_op_12,put_op_13,put_op_14,put_op_15,put_op_16,put_op_17,put_op_18,put_op_19,put_op_20], ignore_index=True)

In [62]:
option_data.isna().sum()

Symbol                              0
Date                                0
Expiry                              0
Option type                         0
Strike Price                        0
Open                                0
High                                0
Low                                 0
Close                               0
LTP                                 0
Settle Price                        0
No. of contracts                    0
Turnover * in  â‚¹ Lakhs              0
Premium Turnover ** in   â‚¹ Lakhs    0
Open Int                            0
Change in OI                        0
Underlying Value                    0
dtype: int64

In [56]:
option_data.columns

Index(['Symbol  ', 'Date  ', 'Expiry  ', 'Option type  ', 'Strike Price  ',
       'Open  ', 'High  ', 'Low  ', 'Close  ', 'LTP  ', 'Settle Price  ',
       'No. of contracts  ', 'Turnover * in  â‚¹ Lakhs',
       'Premium Turnover ** in   â‚¹ Lakhs', 'Open Int  ', 'Change in OI  ',
       'Underlying Value  '],
      dtype='object')

In [60]:
(option_data['Change in OI  ']=='-').sum()

2137533

In [ ]:
'No. of contracts  ' - 2091682
'Turnover * in  â‚¹ Lakhs' - 2091308
'Premium Turnover ** in   â‚¹ Lakhs' - 2099968

In [493]:
option_data.to_csv('option_5years_df.csv', index=False)

In [494]:
option_data

,Date,Expiry,Option_type,Strike Price,Close,LTP,Settle Price,Open Int,Change in OI,Underlying Value,time_to_maturity_days,time_to_maturity_years,riskfree_rates,Div_yield
0,2019-04-02,2019-04-04,1,10000.0,1676.35,1648.90,1717.00,375.00,0,11713.20,2,0.005479,6.642900,1.12
1,2019-04-02,2019-04-04,1,10050.0,1011.90,0,1667.05,0,0,11713.20,2,0.005479,6.642900,1.12
2,2019-04-02,2019-04-04,1,10100.0,964.95,0,1617.05,0,0,11713.20,2,0.005479,6.642900,1.12
3,2019-04-02,2019-04-04,1,10150.0,918.50,0,1567.10,0,0,11713.20,2,0.005479,6.642900,1.12
4,2019-04-02,2019-04-04,1,10200.0,872.60,0,1517.10,0,0,11713.20,2,0.005479,6.642900,1.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2689776,2024-03-28,2028-12-28,0,23000.0,575.05,0,355.8,0,0,22326.90,1736,4.756164,7.047014,1.20
2689777,2024-03-28,2028-12-28,0,24000.0,742.35,0,493.5,0,0,22326.90,1736,4.756164,7.047014,1.20
2689778,2024-03-28,2028-12-28,0,25000.0,937.05,0,664.0,0,0,22326.90,1736,4.756164,7.047014,1.20
2689779,2024-03-28,2028-12-28,0,26000.0,1160.95,0,869.65,0,0,22326.90,1736,4.756164,7.047014,1.20
2689780,2024-03-28,2028-12-28,0,27000.0,1413.85,0,1112.1,0,0,22326.90,1736,4.756164,7.047014,1.20

In [495]:
option_data.isna().sum()

Date                      0
Expiry                    0
Option_type               0
Strike Price              0
Close                     0
LTP                       0
Settle Price              0
Open Int                  0
Change in OI              0
Underlying Value          0
time_to_maturity_days     0
time_to_maturity_years    0
riskfree_rates            0
Div_yield                 0
dtype: int64